Repository 4thel00z/slurp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, github-actions, configuration, tests, slurp-core, adapters, domain, usecases

Remove scripts folder
  scripts/confluence_crawler.py
  scripts/confluence_downloader.py
  scripts/eval_data_conversion_script.py
  scripts/openrouter_client.py
  scripts/rag_dataset_generator.py
  scripts/update_agentic_eval_attachments.py
Labels: none

Remove scripts folder
  scripts/confluence_crawler.py
  scripts/confluence_downloader.py
  scripts/eval_data_conversion_script.py
  scripts/openrouter_client.py
  scripts/rag_dataset_generator.py
  scripts/update_agentic_eval_attachments.py
Labels: none

chore: ignore CLAUDE.md, DEVELOPMENT.md, and reports/
  .gitignore
Labels: none

chore: ignore CLAUDE.md, DEVELOPMENT.md, and reports/
  .gitignore
Labels: none

chore: remove PyPI publishing workflow and update gitignore
  .github/workflows/release.yml
Labels: github-actions

chore: remove PyPI publishing workflow and update gitignore
  .github/workflows/release.yml
Labels: github-actions

chore: drop the .github README
  .github/README.md
Labels: documentation

chore: drop the .github README
  .github/README.md
Labels: documentation

docs: add logo to README
  README.md
  logo.jpeg
Labels: documentation

docs: add logo to README
  README.md
  logo.jpeg
Labels: documentation

docs: fix title - cross-document, not multi-turn
  README.md
Labels: documentation

docs: fix title - cross-document, not multi-turn
  README.md
Labels: documentation

chore: fix README.md
  README.md
Labels: documentation

chore: fix README.md
  README.md
Labels: documentation

chore: fix placement of getLogger
  slurp/adapters/kafka.py
  slurp/usecases/worker.py
Labels: slurp-core, adapters, usecases

chore: fix placement of getLogger
  slurp/adapters/kafka.py
  slurp/usecases/worker.py
Labels: slurp-core, adapters, usecases

test: add initial test suite
  .github/workflows/ci.yml
  pyproject.toml
  tests/__init__.py
  tests/test_hash.py
  tests/test_html_parser.py
  uv.lock
Labels: dependencies, github-actions, configuration, tests

test: add initial test suite
  .github/workflows/ci.yml
  pyproject.toml
  tests/__init__.py
  tests/test_hash.py
  tests/test_html_parser.py
  uv.lock
Labels: dependencies, github-actions, configuration, tests

build: add bandit to dev dependencies
  pyproject.toml
  uv.lock
Labels: dependencies, configuration

build: add bandit to dev dependencies
  pyproject.toml
  uv.lock
Labels: dependencies, configuration

chore: Move image below title
  README.md
Labels: documentation

chore: Move image below title
  README.md
Labels: documentation

test: add edge case tests for HTML parser
  slurp/adapters/mutators/html_parser.py
  tests/test_html_parser.py
Labels: tests, slurp-core, adapters

test: add edge case tests for HTML parser
  slurp/adapters/mutators/html_parser.py
  tests/test_html_parser.py
Labels: tests, slurp-core, adapters

docs: add local connector design spec
  docs/superpowers/specs/2026-06-11-local-connector-design.md
Labels: documentation

feat: add local file connector with pluggable downloader dispatch
  README.md
  slurp/adapters/downloader/local.py
  slurp/adapters/downloader/registry.py
  slurp/adapters/producers/local.py
  slurp/domain/config.py
  slurp/usecases/scraper.py
  slurp/usecases/worker.py
  tests/test_downloader_registry.py
  tests/test_local_downloader.py
  tests/test_local_producer.py
Labels: documentation, tests, slurp-core, adapters, domain, usecases

feat: add local file connector with pluggable downloader dispatch
  README.md
  slurp/adapters/downloader/local.py
  slurp/adapters/downloader/registry.py
  slurp/adapters/producers/local.py
  slurp/domain/config.py
  slurp/usecases/scraper.py
  slurp/usecases/worker.py
  tests/test_downloader_registry.py
  tests/test_local_downloader.py
  tests/test_local_producer.py
Labels: documentation, tests, slurp-core, adapters, domain, usecases

fix: depend on greenlet so async SQLite writes work on arm64 macOS
  pyproject.toml
  tests/test_sqlite_persistence.py
  uv.lock
Labels: dependencies, configuration, tests

fix: depend on greenlet so async SQLite writes work on arm64 macOS
  pyproject.toml
  tests/test_sqlite_persistence.py
  uv.lock
Labels: dependencies, configuration, tests

fix: only build the LLM generator when generation is enabled
  slurp/usecases/worker.py
  tests/test_worker_generator.py
Labels: tests, slurp-core, usecases

fix: only build the LLM generator when generation is enabled
  slurp/usecases/worker.py
  tests/test_worker_generator.py
Labels: tests, slurp-core, usecases

feat: configurable LLM endpoint, render + skill subcommands
  README.md
  infra/kraft-single.properties
  slurp/__main__.py
  slurp/adapters/generators/llm.py
  slurp/domain/config.py
  slurp/skill/SKILL.md
  slurp/skill/__init__.py
  slurp/usecases/render.py
  slurp/usecases/skill.py
  tests/test_llm_provider.py
  tests/test_llm_templates.py
  tests/test_render.py
  tests/test_skill.py
  tests/test_token_config.py
Labels: documentation, tests, slurp-core, adapters, domain, usecases

feat: configurable LLM endpoint, render + skill subcommands
  README.md
  infra/kraft-single.properties
  slurp/__main__.py
  slurp/adapters/generators/llm.py
  slurp/domain/config.py
  slurp/skill/SKILL.md
  slurp/skill/__init__.py
  slurp/usecases/render.py
  slurp/usecases/skill.py
  tests/test_llm_provider.py
  tests/test_llm_templates.py
  tests/test_render.py
  tests/test_skill.py
  tests/test_token_config.py
Labels: documentation, tests, slurp-core, adapters, domain, usecases

fix(generator): guard AgentRunResult before .output in single-doc generate()
  slurp/adapters/generators/llm.py
Labels: slurp-core, adapters

fix(generator): guard AgentRunResult before .output in single-doc generate()
  slurp/adapters/generators/llm.py
Labels: slurp-core, adapters

fix(worker/config): run single worker in-process; honor Kafka env vars
  slurp/__main__.py
  slurp/domain/config.py
Labels: slurp-core, domain

fix(worker/config): run single worker in-process; honor Kafka env vars
  slurp/__main__.py
  slurp/domain/config.py
Labels: slurp-core, domain

docs: cleanup & robustness pass design spec
  docs/superpowers/specs/2026-06-11-cleanup-robustness-design.md
Labels: documentation

docs: cleanup & robustness implementation plan
  docs/superpowers/plans/2026-06-11-cleanup-robustness.md
Labels: documentation

refactor: remove dead code (parse_global_args, noop_ctx, __main__ sample blocks)
  slurp/adapters/asyncio.py
  slurp/adapters/generators/llm.py
  slurp/adapters/mutators/sqlite_persistence.py
  slurp/domain/config.py
Labels: slurp-core, adapters, domain

.github/labeler.yml:

# Auto-labeling configuration for PRs

documentation:
- changed-files:
  - any-glob-to-any-file: ['**/*.md', docs/**/*]

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - uv.lock
    - .github/dependabot.yml

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**

configuration:
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - '*.toml'
    - '*.yaml'
    - '*.yml'
    - .pre-commit-config.yaml

tests:
- changed-files:
  - any-glob-to-any-file: ['**/test_*.py', '**/*_test.py', tests/**/*]

slurp-core:
- changed-files:
  - any-glob-to-any-file: slurp/**/*.py

adapters:
- changed-files:
  - any-glob-to-any-file: slurp/adapters/**/*

domain:
- changed-files:
  - any-glob-to-any-file: slurp/domain/**/*

usecases:
- changed-files:
  - any-glob-to-any-file: slurp/usecases/**/*
