Repository 4thel00z/slurp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, github-actions, configuration, tests, slurp-core, adapters, domain, usecases

feat(config): pydantic-settings loader with CLI>env>.env precedence
  pyproject.toml
  slurp/domain/config.py
  tests/test_settings_loader.py
Labels: dependencies, configuration, tests, slurp-core, domain

fix(settings): CLI overrides beat env for aliased fields (validated setattr)
  slurp/domain/config.py
  slurp/domain/settings.py
  tests/test_settings_loader.py
Labels: tests, slurp-core, domain

fix(settings): CLI overrides beat env for aliased fields (validated setattr)
  slurp/domain/config.py
  slurp/domain/settings.py
  tests/test_settings_loader.py
Labels: tests, slurp-core, domain

refactor(validation): drop validate_app_config (moved into settings)
  slurp/domain/validation.py
Labels: slurp-core, domain

refactor(validation): drop validate_app_config (moved into settings)
  slurp/domain/validation.py
Labels: slurp-core, domain

refactor(instrumentation): setup_instrumentation(token) function
  slurp/adapters/instrumentation.py
  tests/test_instrumentation.py
Labels: tests, slurp-core, adapters

refactor(instrumentation): setup_instrumentation(token) function
  slurp/adapters/instrumentation.py
  tests/test_instrumentation.py
Labels: tests, slurp-core, adapters

feat(usecases): load settings via load_settings + setup_instrumentation
  slurp/usecases/render.py
  slurp/usecases/scraper.py
  slurp/usecases/worker.py
Labels: slurp-core, usecases

feat(usecases): load settings via load_settings + setup_instrumentation
  slurp/usecases/render.py
  slurp/usecases/scraper.py
  slurp/usecases/worker.py
Labels: slurp-core, usecases

test: migrate config tests to settings models/loader
  tests/test_config_validation.py
  tests/test_confluence_config.py
  tests/test_token_config.py
  tests/test_worker_generator.py
Labels: tests

test: migrate config tests to settings models/loader
  tests/test_config_validation.py
  tests/test_confluence_config.py
  tests/test_token_config.py
  tests/test_worker_generator.py
Labels: tests

docs: document SLURP_ settings scheme and .env.example
  .env.example
  CLAUDE.md
  README.md
Labels: documentation

docs: document SLURP_ settings scheme and .env.example
  .env.example
  CLAUDE.md
  README.md
Labels: documentation

test: clear generator concurrency env in reexport test for hermeticity
  tests/test_settings_loader.py
Labels: tests

test: clear generator concurrency env in reexport test for hermeticity
  tests/test_settings_loader.py
Labels: tests

docs: refresh README (connectors, OpenAI-compatible LLM, infra compose path, fail-fast config)
  README.md
Labels: documentation

docs: refresh README (connectors, OpenAI-compatible LLM, infra compose path, fail-fast config)
  README.md
Labels: documentation

build: publishable as slurp-rag (entry point, hatch packages, PyPI trusted-publish job)
  .github/workflows/release.yml
  pyproject.toml
  slurp/__main__.py
Labels: dependencies, github-actions, configuration, slurp-core

build: publishable as slurp-rag (entry point, hatch packages, PyPI trusted-publish job)
  .github/workflows/release.yml
  pyproject.toml
  slurp/__main__.py
Labels: dependencies, github-actions, configuration, slurp-core

build: add MIT license
  LICENSE
  pyproject.toml
Labels: dependencies, configuration

build: add MIT license
  LICENSE
  pyproject.toml
Labels: dependencies, configuration

chore: remove docs/superpowers from the repo
  .gitignore
Labels: none

docs: lead with .env settings file; bump version to 0.2.0
  README.md
  pyproject.toml
Labels: documentation, dependencies, configuration

ci: bump GitHub Actions to Node 24 versions
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/release.yml
Labels: github-actions

ci: fix codecov-action input (file -> files)
  .github/workflows/ci.yml
Labels: github-actions

.github/labeler.yml:

# Auto-labeling configuration for PRs

documentation:
- changed-files:
  - any-glob-to-any-file: ['**/*.md', docs/**/*]

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - uv.lock
    - .github/dependabot.yml

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**

configuration:
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - '*.toml'
    - '*.yaml'
    - '*.yml'
    - .pre-commit-config.yaml

tests:
- changed-files:
  - any-glob-to-any-file: ['**/test_*.py', '**/*_test.py', tests/**/*]

slurp-core:
- changed-files:
  - any-glob-to-any-file: slurp/**/*.py

adapters:
- changed-files:
  - any-glob-to-any-file: slurp/adapters/**/*

domain:
- changed-files:
  - any-glob-to-any-file: slurp/domain/**/*

usecases:
- changed-files:
  - any-glob-to-any-file: slurp/usecases/**/*
