Repository 4thel00z/slurp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, github-actions, configuration, tests, slurp-core, adapters, domain, usecases

refactor: remove dead code (parse_global_args, noop_ctx, __main__ sample blocks)
  slurp/adapters/asyncio.py
  slurp/adapters/generators/llm.py
  slurp/adapters/mutators/sqlite_persistence.py
  slurp/domain/config.py
Labels: slurp-core, adapters, domain

refactor: drop unused random_selection config option
  slurp/domain/config.py
  tests/test_confluence_config.py
Labels: tests, slurp-core, domain

refactor: drop unused random_selection config option
  slurp/domain/config.py
  tests/test_confluence_config.py
Labels: tests, slurp-core, domain

refactor: FormatterDifficulties/Languages as StrEnum
  slurp/domain/models.py
  tests/test_models_enums.py
Labels: tests, slurp-core, domain

refactor: FormatterDifficulties/Languages as StrEnum
  slurp/domain/models.py
  tests/test_models_enums.py
Labels: tests, slurp-core, domain

fix(generator): honor difficulty ratio (case-insensitive lookup)
  slurp/adapters/generators/llm.py
  tests/test_llm_difficulty.py
Labels: tests, slurp-core, adapters

fix(generator): honor difficulty ratio (case-insensitive lookup)
  slurp/adapters/generators/llm.py
  tests/test_llm_difficulty.py
Labels: tests, slurp-core, adapters

fix(html_parser): own ProcessPoolExecutor lifecycle, add shutdown
  slurp/adapters/mutators/html_parser.py
  tests/test_html_parser.py
Labels: tests, slurp-core, adapters

fix(html_parser): own ProcessPoolExecutor lifecycle, add shutdown
  slurp/adapters/mutators/html_parser.py
  tests/test_html_parser.py
Labels: tests, slurp-core, adapters

fix(persistence): dispose sync engine immediately, add async aclose
  slurp/adapters/mutators/sqlite_persistence.py
  tests/test_sqlite_persistence.py
Labels: tests, slurp-core, adapters

fix(persistence): dispose sync engine immediately, add async aclose
  slurp/adapters/mutators/sqlite_persistence.py
  tests/test_sqlite_persistence.py
Labels: tests, slurp-core, adapters

fix(worker): shut down HTMLParser executor and persistence on exit
  slurp/usecases/worker.py
Labels: slurp-core, usecases

fix(worker): shut down HTMLParser executor and persistence on exit
  slurp/usecases/worker.py
Labels: slurp-core, usecases

fix(confluence-producer): close thread pool, guard fetch, use logger
  slurp/adapters/producers/confluence.py
  tests/test_confluence_producer.py
Labels: tests, slurp-core, adapters

fix(confluence-producer): close thread pool, guard fetch, use logger
  slurp/adapters/producers/confluence.py
  tests/test_confluence_producer.py
Labels: tests, slurp-core, adapters

fix(confluence-downloader): guard network/JSON, use logger
  slurp/adapters/downloader/confluence.py
  tests/test_confluence_downloader.py
Labels: tests, slurp-core, adapters

fix(confluence-downloader): guard network/JSON, use logger
  slurp/adapters/downloader/confluence.py
  tests/test_confluence_downloader.py
Labels: tests, slurp-core, adapters

perf(generator): build model once; log request failures
  slurp/adapters/generators/llm.py
  tests/test_llm_provider.py
Labels: tests, slurp-core, adapters

perf(generator): build model once; log request failures
  slurp/adapters/generators/llm.py
  tests/test_llm_provider.py
Labels: tests, slurp-core, adapters

fix(generator): pair Q/A by position, no silent collapse
  slurp/adapters/generators/llm.py
  tests/test_llm_generate_pairing.py
Labels: tests, slurp-core, adapters

fix(generator): pair Q/A by position, no silent collapse
  slurp/adapters/generators/llm.py
  tests/test_llm_generate_pairing.py
Labels: tests, slurp-core, adapters

fix(kafka): drop per-message flush, type producer/consumer Optional
  slurp/adapters/kafka.py
  tests/test_kafka_submitter.py
Labels: tests, slurp-core, adapters

fix(kafka): drop per-message flush, type producer/consumer Optional
  slurp/adapters/kafka.py
  tests/test_kafka_submitter.py
Labels: tests, slurp-core, adapters

feat(config): fail-fast AppConfig validation
  slurp/domain/validation.py
  tests/test_config_validation.py
Labels: tests, slurp-core, domain

feat(config): fail-fast AppConfig validation
  slurp/domain/validation.py
  tests/test_config_validation.py
Labels: tests, slurp-core, domain

feat(usecases): validate config at startup
  slurp/usecases/scraper.py
  slurp/usecases/worker.py
  tests/test_worker_generator.py
Labels: tests, slurp-core, usecases

feat(usecases): validate config at startup
  slurp/usecases/scraper.py
  slurp/usecases/worker.py
  tests/test_worker_generator.py
Labels: tests, slurp-core, usecases

refactor: logging over print, named constants, fix scraper empty-run + double instrumentation
  slurp/__main__.py
  slurp/adapters/generators/llm.py
  slurp/domain/config.py
  slurp/domain/ports.py
  slurp/usecases/render.py
  slurp/usecases/scraper.py
  slurp/usecases/skill.py
  tests/test_config_validation.py
  tests/test_llm_generate_pairing.py
  tests/test_scraper_empty.py
Labels: tests, slurp-core, adapters, domain, usecases

refactor: logging over print, named constants, fix scraper empty-run + double instrumentation
  slurp/__main__.py
  slurp/adapters/generators/llm.py
  slurp/domain/config.py
  slurp/domain/ports.py
  slurp/usecases/render.py
  slurp/usecases/scraper.py
  slurp/usecases/skill.py
  tests/test_config_validation.py
  tests/test_llm_generate_pairing.py
  tests/test_scraper_empty.py
Labels: tests, slurp-core, adapters, domain, usecases

test: drop redundant local imports in test_llm_provider
  tests/test_llm_provider.py
Labels: tests

test: drop redundant local imports in test_llm_provider
  tests/test_llm_provider.py
Labels: tests

style: define module logger after imports in confluence adapters
  slurp/adapters/downloader/confluence.py
  slurp/adapters/producers/confluence.py
Labels: slurp-core, adapters

style: define module logger after imports in confluence adapters
  slurp/adapters/downloader/confluence.py
  slurp/adapters/producers/confluence.py
Labels: slurp-core, adapters

docs: pydantic-settings configuration design spec
  docs/superpowers/specs/2026-06-12-settings-pydantic-design.md
Labels: documentation

docs: pydantic-settings implementation plan
  docs/superpowers/plans/2026-06-12-settings-pydantic.md
Labels: documentation

build: declare pydantic-settings dependency
  pyproject.toml
  uv.lock
Labels: dependencies, configuration

build: declare pydantic-settings dependency
  pyproject.toml
  uv.lock
Labels: dependencies, configuration

feat(settings): pydantic-settings models with SLURP_ env + legacy aliases
  slurp/domain/settings.py
  tests/test_settings_models.py
Labels: tests, slurp-core, domain

feat(settings): pydantic-settings models with SLURP_ env + legacy aliases
  slurp/domain/settings.py
  tests/test_settings_models.py
Labels: tests, slurp-core, domain

feat(config): pydantic-settings loader with CLI>env>.env precedence
  pyproject.toml
  slurp/domain/config.py
  tests/test_settings_loader.py
Labels: dependencies, configuration, tests, slurp-core, domain

.github/labeler.yml:

# Auto-labeling configuration for PRs

documentation:
- changed-files:
  - any-glob-to-any-file: ['**/*.md', docs/**/*]

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - uv.lock
    - .github/dependabot.yml

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**

configuration:
- changed-files:
  - any-glob-to-any-file:
    - pyproject.toml
    - '*.toml'
    - '*.yaml'
    - '*.yml'
    - .pre-commit-config.yaml

tests:
- changed-files:
  - any-glob-to-any-file: ['**/test_*.py', '**/*_test.py', tests/**/*]

slurp-core:
- changed-files:
  - any-glob-to-any-file: slurp/**/*.py

adapters:
- changed-files:
  - any-glob-to-any-file: slurp/adapters/**/*

domain:
- changed-files:
  - any-glob-to-any-file: slurp/domain/**/*

usecases:
- changed-files:
  - any-glob-to-any-file: slurp/usecases/**/*
